.feedback-form {
  max-width: 408px;
  margin: 0 auto;
  padding: 24px;
}

label {
  display: block;
  margin-bottom: 10px;
  margin-top: 8px;
}

input[type='email'],
input[type='text'],
textarea {
  border: 1px solid #808080;
  border-radius: 4px;
  width: 360px;
  height: 40px;
  padding-left: 16px;
}

input[type='email']:hover,
input[type='text']:hover,
textarea:hover {
  border-color: #000000;
}

input[type='email']:active,
input[type='text']:active,
textarea:active,
input[type='email']:focus,
input[type='text']:focus,
textarea:focus {
  border-color: #808080;
}

input[type='email']:focus-visible,
input[type='text']:focus-visible,
textarea:focus-visible {
  outline: none;
}

textarea {
  height: 80px;
  resize: none;
  padding-top: 8px;
}

button {
  border-radius: 8px;
  padding: 8px 16px;
  cursor: pointer;
  background: #4e75ff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #fff;
  border: none;
}

button:hover {
  background-color: #6c8cff;
}
